<!DOCTYPE html>
<html ng-app='app.clientApp'>
  <head>
    <title>JeffPiano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-controller='ClientCtrl'>
    <shortcut></shortcut>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
